.maindiv
{
    /* display:flex; */
    /* justify-content:space-evenly; */
    /* position: relative; */
    display:inline-block;
}
.backgrounddiv
{
    /* display: flex;
    -webkit-column-count: 4;
    column-count: 5;
    -webkit-column-gap:.5em;
    column-gap: 2em;
     margin-top: 15px;
    margin-bottom: 15px;
     height: 100%;
    width: 10%; 
    position: absolute; 
    background-color: grey;
    z-index: -1;
    opacity: 0.8; */
    background-image: url('bg-01.jpg');
    background-repeat: repeat-y;
}

.stacktop{
    width: 100%;
    z-index: 9;
    margin: 20px; /* for demo purpose  */
}

body {
    background-image: 'images/bg.jpg';
    background-repeat: repeat-y;
  }


.charttitle {
    margin-left: 2em;
}

#avoidance {
    margin-left: 5.6em;
    margin-bottom: -2.5em;
}

#occurence {
    margin-left: 5.8em;
    margin-bottom: -2em;
}

#occurence th {
    padding: 2.3px;
} 


#avoidance th {
    padding: 8.5px;
} 
/* 
table {
    border-spacing: 21.5px 0;
  } */