.maindiv
{
    /* display:flex; */
    /* justify-content:space-evenly; */
    /* position: relative; */
    display:inline-block;
}
.backgrounddiv
{
    /* display: flex;
    -webkit-column-count: 4;
    column-count: 5;
    -webkit-column-gap:.5em;
    column-gap: 2em;
     margin-top: 15px;
    margin-bottom: 15px;
     height: 100%;
    width: 10%; 
    position: absolute; 
    background-color: grey;
    z-index: -1;
    opacity: 0.8; */
    background-image: url('bg-01.jpg');
    background-repeat: repeat-y;
}

.stacktop{
    width: 100%;
    z-index: 9;
    margin: 20px; /* for demo purpose  */
}

body {
    background-image: 'images/bg.jpg';
    background-repeat: repeat-y;
  }


.charttitle {
    margin-left: 2em;
}

#worry_category {
    margin-left: 5.6em;
    /* margin-bottom: -2.5em; */
}

#worry_category th {
    padding-left: 13.5px;
    padding-right: 13.5px;
} 

#worryxaxisd td {
    font-family:  Calibri,  sans-serif ;
    font-size: 16px;
    padding: 8.6px;
}

#worryxaxisd {
    margin-left: 5.7em;
    margin-top: -0.5em;
}



#avoidance {
    margin-left: 5.6em;
    margin-bottom: -2.5em;
}


#occurence {
    margin-left: 5.8em;
    margin-bottom: -2em;
}

#occurence th {
    padding: 2.3px;
} 


#avoidance th {
    padding: 8.5px;
} 

#expvsrel {
    margin-left: 5.6em;
    margin-top: -2em;
}

#expvsrel td {    
    font-family:  Calibri,  sans-serif ;
    font-size: 16px;
    padding: 8.6px;
    
}

/* 
table {
    border-spacing: 21.5px 0;
  } */

.worrylabel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-style: solid;
    border-color: #2B61E4;
    color: #2B61E4;
    font-weight: bold;
    border-width: 2px;
    padding: 0%;
    margin-top: -2em;
    padding-bottom: -2em;
    /* margin-left: 1em;
    margin-right: 1em;   
    border-spacing: 1em; */
}

.attendancelabel {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 16px;
    border-style: solid;
    border-color: #89608E;
    color: #89608E;
    font-weight: bold;
    border-width: 2px;
    padding: 0%;
    margin-top: -2em;
    padding-bottom: -2em;
    /* margin-left: 1em;
    margin-right: 1em;   
    border-spacing: 1em; */
}